<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu
    xmlns="http://openbox.org/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://openbox.org/ file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Openbox 3">
  <item label="Terminal">
    <action name="Execute"><execute>x-terminal-emulator</execute></action>
  </item>
  <item label="Web">
    <action name="Execute"><execute>x-www-browser</execute></action>
  </item>
  <item label="Files">
    <action name="Execute"><execute>thunar</execute></action>
  </item>

  <separator label="Applications" />

  <menu id="graphics" label="Graphics">
    <item label="Gimp">
        <action name="Execute"><execute>gimp</execute></action>
    </item>
  </menu>

  <menu id="office" label="Office">
    <item label="LibreOffice">
        <action name="Execute"><execute>libreoffice</execute></action>
    </item>
  </menu>

  <separator label="Settings" />

  <menu id="openbox" label="Openbox">
    <item label="ObConf">
        <action name="Execute"><execute>obconf</execute></action>
    </item>
    <item label="Reconfigure Openbox">
        <action name="Reconfigure" />
    </item>
    <item label="Restart Openbox">
        <action name="Restart" />
    </item>
  </menu>

  <menu id="system" label="System">
    <item label="Arandr">
        <action name="Execute"><execute>arandr</execute></action>
    </item>
    <item label="Lxappearance">
        <action name="Execute"><execute>lxappearance</execute></action>
    </item>
  </menu>

  <separator />
  <menu id="client-list-menu" />

  <separator />
  <item label="Exit">
    <action name="Exit" />
  </item>
</menu>

</openbox_menu>
