[Desktop Entry]
Name=Terminator
Comment=Multiple terminals in one window
Exec=terminator
Icon=terminal
Type=Application
Categories=GNOME;GTK;Utility;TerminalEmulator;System;
StartupNotify=true
Keywords=terminal;shell;prompt;command;commandline;
