[Desktop Entry]
Name=Thunar File Manager
Exec=thunar %F
Icon=file-manager
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Utility;Core;GTK;FileTools;FileManager;
